.blog-header {
    padding: 2em;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-clr);

    & > p {
        cursor: pointer;
    }

    & ul {
        display: flex;
        gap: 2em;
    }

    & li {
        padding: 0.5em 1.2em;
        font-weight: 600;
        border-radius: 5px;
        cursor: pointer;
    }

    .main-title {
        color: var(--txtmain-clr);
        font-weight: 700;
        font-size: 1.2rem;
    }

    .starter-btn {
        background-color: var(--card-bg);
        color: var(--txtsub-clr);
        font-weight: 700;
    }

    .starter-btn:hover {
        color: var(--txtmain-clr);
        transition: color 0.18s;
    }

    .create-btn {
        background-color: var(--bordererror-clr);
        color: var(--txtmain-clr);
        transition: color 0.18s, background-color 0.18s;
    }

    .create-btn:hover {
        background-color: var(--txtmain-clr);
        color: var(--bordererror-clr);
    }

    .blogs-btn {
        background-color: var(--card-bg);
        color: var(--txtsub-clr);
        transition: color 0.18s;
    }

    .blogs-btn:hover {
        color: var(--txtmain-clr);
    }

    .out-btn {
        border: 2px solid var(--txtsub-clr);
        color: var(--txtsub-clr);
    }

    .main-actions {
        width: min(100%, 20em);
        padding: 2em;
        position: fixed;
        display: grid;
        place-items: center;
        background-color: var(--main-bg);
        border: 1px solid var(--bordererror-clr);
        border-radius: 10px;
        transform: translateX(-50%);
        top: 7em;
        right: -145%;
        transition: translate 0.18s;
        z-index: 1;
    }

    .main-actions.active {
        left: 50%;
    }

    .mobile-btn {
        padding: 0.7em 1em;
        border: none;
        background-color: var(--txtmain-clr);
        border-radius: 2px;
    }
}

.main-actions {
    & ul {
        width: 100%;
        display: grid;
        padding: 0;
    }

    & li {
        width: 100%;
        text-align: center;
    }
}

.header-logo {
    gap: 0.3em;
    cursor: pointer;

    .logo {
        color: var(--txtmain-clr);
        font-size: 1.2rem;
    }
}

@media (min-width: 600px) {
    .mobile-btn {
        display: none;
    }

    .blog-header {
        .main-actions {
            width: 28em;
            padding: 0em;
            position: unset;
            background-color: var(--main-bg);
            border: none;
            border-radius: 10px;
            transform: translateX(0);
        }

        .list {
            display: flex;
            justify-content: space-between;
        }

        & li {
            width: max-content;
        }

        .main-actions.active {
            transform: translateX(0);
            left: 0;
        }
    }
}